<nav class="nav bg-primary p-4">
    <a routerLink="/contact" class="nav-link text-white">Contact App|</a>
    <a routerLink="/" class="nav-link text-white">Home Page|</a>
    <a routerLink="" class="nav-link text-white">Sign In|</a>
    <a routerLink="" class="nav-link text-white">Create Account|</a>
    <a routerLink="" class="nav-link text-white">Contacts|</a>
    <a routerLink="/dashboard" class="nav-link text-white">Dashboard|</a>
    <a routerLink="/templatevalidate" class="nav-link text-white">Template Validation</a>
    <a routerLink="/behaviorsubject" class="nav-link text-white">Behavior Sub|</a>
    <a routerLink="/reactiveform" class="nav-link text-white">Reactive Form|</a>
    <a routerLink="/noteapp" class="nav-link text-white">NoteApp|</a>
    <a routerLink="/usersignup" class="nav-link text-white">usersignup|</a>
    <a routerLink="/studentdashboard" class="nav-link text-white">Student Dashboard|</a>
    <a routerLink="/studentsignin" class="nav-link text-white">Studentsignin|</a>


</nav>
