
<div class="col-6 mx-auto shadow p-5">
    <h3 class="text-center text-success mb-5">Update Password</h3>
    <form #one="ngForm">
    <input type="text" [(ngModel)]="oldpassword" class="form-control my-2 shadow-none" name="old" required placeholder="Enter old password">
    <input type="text" [(ngModel)]="newpasswordone" class="form-control my-2 shadow-none" name="new" required placeholder="Enter New Password">
    <input type="text" [(ngModel)]="newpasswordtwo" class="form-control my-2 shadow-none" name="newone" required placeholder="Re-confirm New Password"> 
    <button class="btn btn-success w-100" (click)="changepassword()" [disabled]="one.invalid">Update Password</button>
    <hr>
    </form>
      <p class="text-center text-success shadow mt-5 p-4">{{this.msg}}</p>
      <a routerLink="/studentdashboard" class="btn btn-outline-success mt-5">Go back to dashboard</a>
    
</div>
